node_modules/
npm-debug.log*

catchup.sqlite
catchup.sqlite-shm
catchup.sqlite-wal

work/*.log
work/*.tmp
work/simulation/*.sqlite
work/simulation/*.sqlite-shm
work/simulation/*.sqlite-wal

.DS_Store
Thumbs.db
